/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* UTILITIES */
.main-container {
    height: 100vh;
}

.overflow-y {
    overflow-y: auto;
}

/* Flex */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-items-center {
    align-items: center;
}

/* Width */
.w100 {
    width: 100%;
}

/* ASIDE */
aside {
    width: 230px;
    background: #000000;
}

aside > * {
    padding: 0 20px;
}

aside img.logo {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}


aside li {
    padding-top: 8px;
    padding-bottom: 8px;
}

aside li a {
    display: inline-block;
    position: relative;
}

aside li a > * {
    color: #717171;
}

aside li a span {
    color: #717171;
    font-size: 14px;
    font-weight: 700;
}

aside a.icon img {
    width: 25px;
    color: #717171;
}

aside li a.icon span:last-of-type {
    margin-left: 8px;
}

aside li:hover a > * {
    color: #fff;
}

aside h6 {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
}

aside span.icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
}

aside li:hover span.icon {
    background-color: #fff;
}

aside span.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 20px;
}

aside .new-playlist {
    font-size: 16px;
}

/* MAIN SECTION */
main .main-section {
    background: #141922;
}

/* Upgrade */
.upgrade {
    position: fixed;
    width: calc(100% - 230px);
    background: rgba(0,0,0,.2);
    text-align: right;
}

.upgrade a {
    display: inline-block;
    margin: 20px 20px 30px 20px;
    padding: 12px 36px;
    border: 1px solid #fff;
    border-radius: 10rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.upgrade a:hover {
    transform: scale(110%);
}

/* Main-section Container */
main .main-section .container {
    padding: 92px 20px 20px;
}

/* Nav */
.main-section nav ul.flex {
    justify-content: center;
}

.main-section nav li {
    position: relative;
    margin: 20px 10px;
}

.main-section nav li a {
    color: #7d7f84;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-section nav li a:hover {
    color: #fff;
}

.main-section nav li.active a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #adff2f;
}

/* FOOTER */
footer {
    height: 90px;
    background: #282828;
}

/* TODO: DEBUG */
.debug {
    width: 100px;
    height: 100px;
    background: red;
    border: 1px solid white;
}