/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* UTILITIES */
.main-container {
    height: 100vh;
}

.overflow-y {
    overflow-y: auto;
}

/* Flex */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-align-items-center {
    align-items: center;
}

/* Width */
.w100 {
    width: 100%;
}

/* MAIN */
main {
    overflow: hidden;
}

/* ASIDE */
aside {
    width: 230px;
    background: #000000;
}

aside .top img,
aside .middle a,
aside h6,
aside .bottom {
    padding: 0 20px 0 17px;
}

aside img.logo {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside img.logo-small {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4px;
}

aside li,
aside .bottom > div {
    padding-top: 8px;
    padding-bottom: 8px;
}

aside li span,
aside .bottom .download-app span {
    color: #717171;
    font-size: 14px;
    font-weight: 700;
}

aside a.icon img,
aside .bottom .download-app img {
    filter: invert(.3);
}

aside a.icon img {
    width: 25px;
}

aside .bottom .download-app img {
    width: 20px;
}

aside .icon span:last-of-type {
    margin-left: 8px;
}

aside a.active {
    border-left: 3px solid #adff2f;
}

aside a {
    border-left: 3px solid transparent;
}

aside li:hover a > *,
aside .download-app a:hover span,
aside li a.active span {
    color: #fff;
}

aside li:hover img,
aside .download-app a:hover img,
aside li a.active img {
    filter: invert(0);
}

aside h6 {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
}

aside span.icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
}

aside li:hover span.icon {
    background-color: #fff;
}

aside span.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 20px;
}

aside .new-playlist {
    font-size: 16px;
}

aside .download-app {
    border-bottom: 1px solid #717171;
}

aside .account span {
    font-size: 16px;
    font-weight: 700;
}

aside .icon img.profile {
    width: 30px;
    height: 30px;
    background: #808080;
    border-radius: 50%;
}

/* MAIN SECTION */
main .main-section {
    background: #141922;
}

/* Upgrade */
.upgrade {
    position: fixed;
    width: calc(100% - 230px);
    background: rgba(0,0,0,.75);
    text-align: right;
    z-index: 1;
}

.upgrade a {
    display: inline-block;
    margin: 20px 80px 30px 20px;
    padding: 12px 36px;
    border: 1px solid #fff;
    border-radius: 10rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.upgrade a:hover {
    transform: scale(110%);
}

/* Main-section Container */
main .main-section .container {
    padding: 92px 20px 20px;
}

.main-section h2 {
    padding-top: 20px;
    font-size: 24px;
}

.main-section h4 {
    padding-top: 10px;
    color: #75777c;
}

/* Nav */
.main-section nav ul.flex {
    justify-content: center;
}

.main-section nav li {
    position: relative;
    margin: 20px 10px;
}

.main-section nav li a {
    color: #7d7f84;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-section nav li a:hover {
    color: #fff;
}

.main-section nav li.active a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #adff2f;
}

/* Albums */
.album {
    width: calc(100% / 6 - 20px);
    margin: 30px 20px 30px 0;
    text-align: center;
}

.album h3 {
    padding-top: 20px;
}

.album-img {
    position: relative;
}

.album-img img {
    display: block;
}

.album-img:hover img {
    filter: grayscale(50%) brightness(50%);
    cursor: pointer;
}

.album-img:hover::before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.circle .album-img img {
    border-radius: 50%;
}

/* FOOTER */
footer.app-player {
    padding: 5px 10px;
    background: #282828;
    text-align: center;
}

footer.app-player .current-img img {
    width: 40px;
    height: 40px;
}

footer.app-player .current-info {
    margin: 0 40px 0 15px;
}

footer.app-player .current-info span {
    display: block;
    text-align: left;
}

footer.app-player .current-info .current-album {
    font-size: 13px;
    font-weight: 600;
}

footer.app-player .current-info .current-track {
    font-size: 12px;
    font-weight: 500;
    color: #777777;
}

footer.app-player .left i {
    margin-right: 15px;
    color: #878787;
}

footer.app-player .center .top i {
    font-size: 20px;
    margin: 0 20px;
    vertical-align: middle;
}

footer.app-player .center .top i.fa-play-circle {
    font-size: 30px;
}

footer.app-player .center .top i.fa-play-circle:hover {
    transform: scale(120%);
}

footer.app-player .center .bottom > * {
    margin: 0 20px;
}

footer.app-player .right {
    max-width: 20%;
}

footer.app-player .right i {
    margin-right: 20px;
}

footer.app-player .center > *,
footer.app-player .right > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Progress Bar */
.progress-bar {
    height: 3px;
    border-radius: 6px;
    background-color: #5a5a5a;
}

.bar {
    position: relative;
    height: 100%;
    background-color: #c1c1c1;
}

.progress-bar:hover .bar {
    background-color: #adff2f;
}

.progress-bar:hover .bar::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    transform: translateY(-40%);
    border-radius: 50%;
    background-color: #fff;
}

.timer {
    font-size: 12px;
    font-weight: 600;
}

.progress-bar.timing {
    width: 40%;
}

.progress-bar.volume {
    width: 100px;
}

.w20 {
    width: 20%;
}


/* -------------------------
RESPONSIVE
------------------------- */
@media screen and (max-width: 1200px) {
    .album {
        width: calc(100% / 4 - 20px);
    }

    .album h3,
    .album h4 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .album {
        width: calc(100% / 2 - 20px);
    }

    .album h3,
    .album h4 {
        font-size: 0.9rem;
    }

    footer.app-player .center .top i {
        font-size: 14px;
        margin: 0 10px 5px;
        vertical-align: middle;
    }
    
    footer.app-player .center .top i.fa-play-circle {
        font-size: 20px;
    }

    footer.app-player .center .bottom > * {
        margin: 0 5px;
    }

    .progress-bar.volume {
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    aside {
        width: auto;
    }

    .upgrade {
        width: 100%;
    }

    aside img.logo,
    aside span,
    aside .playlist,
    footer.app-player .current-info {
        display: none;
    }
    
    aside img.logo-small {
        display: inline-block;
    }

    footer.app-player .album-options {
        margin-left: 15px;
    }
}